# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Flask
instance/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Distribuição
dist/
build/
*.egg-info/
